$font-size: 62.5%;
$body-font: 1.5rem;
$line_height: 2.3rem;

// font type
$body-font-family: "font-family: 'Roboto', sans-serif;";
$logo: "font-family: 'Staatliches', cursive;";
$title: "font-family: 'Cairo', sans-serif;";